root{
  height: 100vh;
}
body {
  width: 100%;
  /* background-color: black; */
  background: linear-gradient(to right ,#0f0f0f,#1a1a1a);
  padding-bottom: 10px;
}
#dark-mode{
  /* height: 20px; */
  font-size: 20px;
  color: #0f0f0f;
  /* padding:"10px 10px"; */
}

a{
  text-decoration: none;
  background-color: rgb(18, 156, 18);
  border-radius: 10px;
  padding: 3px 7px;
  font-size:25px ;
  color: white;
  font-family: "Exo", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#root{
    width: 100%;
}
#type{
  /* height: 100px; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}
#heading{
  color: rgb(16, 239, 243);
  font-size: 40px;
  font-family: "Silkscreen", serif;
  font-weight: 100;
  font-style: normal;
  /* font-weight: 100; */
  /* font-family: "Exo 2", serif;
  font-optical-sizing: auto; */
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* min-height: 300px; */
  /* background-color: black; */
  width: 100%;
}
#inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
}
#inp {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  align-items: center;
  /* margin: 50px; */
  /* position: relative; */
  /* top: 25px; */
}

#content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* max-width:  600px; */
  flex-wrap: wrap;
  animation: myani 1s;
  /* position: absolute; */
  width: 70%;
  max-width: 70%;
  /* top: 300px; */
}
/* @keyframes myani {
  from {
    top: 0px;
    opacity: 0;
  }
  to {
    top: 300px;
    opacity: 1;
  }
} */
#textbox {
  width: 500px;
  padding: 10px;
  margin: 3px;
  outline: none;
  /* font-size: 20px; */
  border: none;
  border-radius: 30px;
}
button {
  padding: 7px 10px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(1, 158, 1);
  border: none;
  border-radius: 30px;
  color: white;
  cursor: pointer;
  opacity: 1;
  transition: 0.4s;
}
button:hover,a:hover{
  /* background-color: rgb(3, 107, 3); */
  opacity: 0.8;
  /* color: black; */
}
img {
  height: 400px;
  border-radius: 50%;
}
h1,span{
font-family: "Caveat", serif;
  color:  #E0E0E0;
  font-size: 50px;
}
input,button{
    font-family: "Delicious Handrawn", serif;
    font-size:40px;
    font-weight: 300;
}
span{
    margin: auto 60px;

}
#info{
    text-align: center;
}

/* .dancing-script-<"name"> {
    font-family: "Dancing Script", serif;
    font-optical-sizing: auto;
    
  } */
  @media screen and (max-width: 556px){
    #textbox{
      width: 200px;
      /* height: 40px; */
      font-size: 20px;
    }
    button{
      padding:  3px 7px;
      font-size: 30px;
    }
    .container{
      margin: 0;
    }
    img{
      height: 200px;
    }
    h1,
a ,span{

  font-size: 25px;
}
#info{
  /* width: 500px; */
  text-align:center;
}
  #inp{
    height: 100px;
  }
  #type{
    height: 50px;
  }
  #content{
    top: 170px;
    padding: 0;
  }
  /* #type{
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  #heading{
    font-size: 20px;
    
  }
  #dark-mode{
    font-size: 15px;
    padding: 2px 8px;
  }

  }
  


